# Customer Success OS

PORT=4050
JWT_SECRET=your-secret-key

# Services
SALES_OS_URL=http://localhost:5055
MARKETING_OS_URL=http://localhost:5500
CORPID_URL=http://localhost:4702
REZ_CARE_URL=http://localhost:4055
